# ============================
#   GARI BOT - CONFIGURAÇÕES
# ============================

DISCORD_TOKEN=seu_token_aqui
CLIENT_ID=seu_client_id_aqui
GUILD_ID=seu_guild_id_aqui
MONGODB_URI=mongodb+srv://gabrielsouzagab998_db_user:SUA_SENHA@cluster0.uf9ufgi.mongodb.net/garibot?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=1435424556662915082
NODE_ENV=development

# Imagens do bot (troque quando o link expirar)
# Dica: use imgur.com para links permanentes
BANNER_URL=url_do_banner_aqui
LOGO_URL=url_do_logo_aqui
